@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel {
    width: 500%;
    height: 100%;
    display: flex;
}

.item-one {
    background-image: image-set(
        url("/public/images/hero_image_one.avif") type("image/avif"),
        url("/public/images/hero_image_one.webp") type("image/webp"),
        url("/public/images/hero_image_one.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.item-one::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(62, 80, 171, 0.6);
}

.item-two {
    background-image: image-set(
        url("/public/images/hero_image_two.avif") type("image/avif"),
        url("/public/images/hero_image_two.webp") type("image/webp"),
        url("/public/images/hero_image_two.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.item-two::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(62, 80, 171, 0.6);
}

.item-three {
    background-image: image-set(
        url("/public/images/hero_image_three.avif") type("image/avif"),
        url("/public/images/hero_image_three.webp") type("image/webp"),
        url("/public/images/hero_image_three.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.item-three::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(62, 80, 171, 0.6);
}

.item-four {
    background-image: image-set(
        url("/public/images/hero_image_four.avif") type("image/avif"),
        url("/public/images/hero_image_four.webp") type("image/webp"),
        url("/public/images/hero_image_four.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.item-four::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(62, 80, 171, 0.6);
}

.item-five {
    background-image: image-set(
        url("/public/images/hero_image_five.avif") type("image/avif"),
        url("/public/images/hero_image_five.webp") type("image/webp"),
        url("/public/images/hero_image_five.jpg") type("image/jpeg")
    );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.item-five::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(62, 80, 171, 0.6);
}

.carousel-item {
    width: calc(100% / 5);
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow-prev,
.arrow-next {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.arrow-prev {
    left: 40px;
}

.arrow-next {
    right: 40px;
}

.list-carousel-container {
    overflow: hidden;
}

@media screen and (min-width: 1347px) {
    .list-carousel-container {
        width: 35%;
        overflow: hidden;
    }
}

.list-carousel {
    width: 200%;
    height: 100%;
    display: flex;
}

.list-carousel-item {
    width: calc(100% / 2);
    height: 100%;
}

.list-arrow-prev,
.list-arrow-next {
    font-size: 2.5rem;
    color: #0a125e;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.list-arrow-prev {
    left: 0;
}

.list-arrow-next {
    right: 0;
}

@media screen and (min-width: 769px) {
    .list-arrow-prev,
    .list-arrow-next {
        left: unset;
        right: unset;
        transform: translateY(0, 10%);
    }

    .list-arrow-prev {
        margin-right: 150px;
    }
}

.last-carousel-container {
    width: 100%;
    overflow: hidden;
}

.last-carousel {
    width: 200%;
    height: 100%;
    display: flex;
}

.last-carousel-item {
    width: calc(100% / 2);
}

.mb-last-carousel-container {
    width: 100%;
    overflow: hidden;
}

.mb-last-carousel {
    width: 400%;
    display: flex;
}

.mb-last-carousel-item {
    width: calc(100% / 4);
}

.fc-daygrid-day {
    background-color: #f0f8ff;
    border: 1px solid #d1d5db;
    color: #2d3748;
}

.fc-day-today {
    background-color: #174075 !important;
    color: white;
}

.fc-toolbar {
    background-color: #15c5ec4f;
    color: #133d5d; /* Texto blanco */
    padding: 10px;
    border: 1px solid #d1d5db;
}

.fc .fc-button-primary {
    background-color: #d7d7d7;
    color: #174075;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #174075;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    background-color: #d7d7d7;
    color: #174075;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
}

.fc-disabled-day {
    background-color: #f0f0f0;
    color: #cccccc;
    pointer-events: none;
    opacity: 0.5;
}

.fc-disabled-day:hover {
    cursor: not-allowed;
}

.is-invalid {
    border: 1px solid red;
}

.toggle-button, .toggle-button-options {
    background-color: #d2d2d2;
    width: 35px;
    height: 18px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}

.toggle-button::before, .toggle-button-options::before {
    content: "";
    background-color: #174075;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
    margin: 1.25px;
}

input[type="checkbox"]:checked + .toggle-button,  input[type="radio"]:checked + .toggle-button-options{
    background-color: #41759d;
}

input[type="checkbox"]:checked + .toggle-button::before, input[type="radio"]:checked + .toggle-button-options::before {
    background-color: white;
    transform: translateX(17.5px);
}

.toggle-input, .toggle-input-options {
    display: none;
}

.checkbox-historyForm {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.customLabel {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #d2d2d2;
    cursor: pointer;
    border-radius: 50%;
}

.checkbox-historyForm:checked + .customLabel {
    background-color: #174075;
}

/* Spinner styles */

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #174075;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}